*{
	padding: 0;
	margin:0;
}

#container{
	width: 1500px;
	margin: 0px auto;
}

#Row1{
	
	width: 100%;
	height: 100%;
	float: left;
	background-color: #ABAAB3;
	
}

#Row2{
	
	width: 100%;
	height: 450px;
	float: left;
	background-color: #D9D8DA;

}

#heading{
	padding: 20px;
	background-color: white;
	font-size: 100px;
	text-align: center;
	font-family: 'Pacifico', cursive;

	

}

.doubt{
	color: #FFFFFF;
	font-size: 20px;
	margin-left: 40px;
	text-align: left;
	border-top: solid 2px;
  	border-right: none;
  	border-left: solid 1px;
  	border-color: white;
	background-color: none;
	width: 350px;
	

}

.button sub{
	padding: 10px 20px 10px 20px;
	border: none;
  	background-color: #4d4d4d;
  	color: white;
	
	
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
}
.button:hover{
	transition: all 0.5s;
	background-color: #bfbfbf;
}


.inp{
	margin-left: 40px;
	margin-top: 20px;
}

.same{
  	width:220px;
  	height:40px;
  	display:block;
  	border-top: none;
  	border-right: none;
  	border-left: solid 1px;
  	border-color: white;
  	margin-bottom: 20px;
  	background: none;
}

.contact_form{
	padding-top: 20px;
	padding-bottom: 20px;
	

}
iframe{
	margin-left: 45px;
	width: 1400px;

}

/*----------------------------------------------------------------------------------------------------HEADER SETTINGS*/
.header_menu{
	background-color:rgb(25,25,25);
	width: 100%;
	height: 110px;	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	
}

.logo{
	width: 30%;
	display: flex;

}	
.logo h3{
	display: flex;
	align-items: center;
	color: grey;
	font-size: 25px;
	
}
.logo img{
	margin-left: 25px;
	width: 100px;
	text-align: left;
	
}

.menu_list {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	width: 70%;
	text-align: right;
	margin: 25px 10px 25px 10px;
	font-size: 20px;
	text-decoration: none;	
	
}


.display_inblock li{
	color: white;
	padding-left: 50px;
	display: inline-block;
	
}

.button{
	padding: 10px 20px 10px 20px;
	border: none;
  	background-color: #4d4d4d;
  	color: white;
	
	
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	cursor: pointer;
}

.button:hover{
	transition: all 0.5s;
	background-color: #bfbfbf;
}


#demo3{
	color: red;
}








/*----------------------------------------------------------------------------------------------------FOOTER SETTINGS*/
.footer_cls{
	display: inline-block;
	background-color: rgb(25,25,25);
	width: 100%;
	height: 100%;	
	border: 1000px 0px 0px 0px solid;
	
}
.footer_grid1{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: 100%;
	float: left;
}	
.footer_grid2{
	display: flex;
	justify-content: flex-end;
	align-items: center;

	width: 80%;
	height: 100%;
	float: left;
	background-color: none;
}



.footer_grid2 h6{
	padding: 40px;
	color: white;
}
.footer_cls ul{
	list-style-type: none;
}
.footer_cls ul li{
	padding-left: 20px;
}
.footer_cls ul li a img{
	width: 30px;
	height: 30px;
	
}

.links{

	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	padding: 30px;
}











/*----------------------------------------------------------------------------------------------------MEDIA SCREENS*/

@media screen and (max-width:1500px){
	
	#container{
	width: 100%;
}
#Row1{
	width: 72%;	
}
#Row2{
	width: 28%;
}
}


@media screen and (max-width:640px){
	#container{
	width: 100%;
}
#Row1{
	width: 100%;	
}
#Row2{
	width: 100%;	 
}
.display_inblock li{
	display: block;
}

}



@media screen and (max-width:500px){
.display_inblock li{
	display: block;
}
.header_menu{
	height: 70px;	
	
}
.logo img{
	margin-left: 25px;
	width: 50px;
	text-align: center;
}
.footer_grid1{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50%;
	float: left;
}	
.footer_grid2{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 50%;
	float: left;
	background-color: none;
}
.footer_grid2 h6{
	padding: 0px;
}

.footer_cls ul li {
	padding: 20px;
}
.links{
	padding: 0px;
}
}



@media screen and (max-width:320px){
#container{
	width: 320px;	 
}
.logo{
	display: inline-flex;
	justify-content: center;
	width: 30%;
	

}	
.logo h3{
	font-size: 10px;
	margin-left: 5px;
	display: flex;
	color: grey;
}
.header_menu{
	height: 70px;	
}
.logo img{
	
	margin-left: 20px;
	width: 40px;
	text-align: center;
	
}

}

